<%= content_for :head do%>
  <%= javascript_include_tag 'i18n/grid.locale-en.js','jquery.jqGrid.min.js', 'dashboard.js' %>
  <%= stylesheet_link_tag "jquery-ui-1.8.5.custom.css","ui.jqgrid.css" %>  
<%end%>
<script>
  $().ready(function(){
    var myTimecards = <%=raw @timecards%>;
    for(var i=0;i<myTimecards.length;i++){
      var details_url = "/projects/"+myTimecards[i].project_id+"/timecards/"+myTimecards[i].id
      myTimecards[i].details = "<a href='"+details_url+"'>Details</a>";
      jQuery("#timecards_grid").addRowData(myTimecards[i].id,myTimecards[i]);
    }
    
    var myCompanies = <%=raw @companies%>;
    for(var i=0;i<myCompanies.length;i++){
      var details_url = "/companies/"+myCompanies[i].id
      myCompanies[i].details = "<a href='"+details_url+"'>Details</a>";
      jQuery("#companies_grid").addRowData(myCompanies[i].id,myCompanies[i]);
    }
    
    var myProjects = <%=raw @projects%>;
    var add_timecard_url = "";
    var details_url = "";
    for(var i=0;i<myProjects.length;i++){
      details_url = "/companies/"+myProjects[i].company_id+"/projects/"+myProjects[i].id
      myProjects[i].details = "<a href='"+details_url+"'>Details</a>";
      if(myProjects[i].add_timesheet == true || myProjects[i].add_timesheet == 'true'){
        add_timecard_url = "/projects/"+myProjects[i].id+"/timecards/";
        myProjects[i].add_timesheet = "<a href='"+add_timecard_url+"'>Add timecard</a>";
      }else{
        myProjects[i].add_timesheet = ""
      }
      jQuery("#projects_grid").addRowData(myProjects[i].id,myProjects[i]);
    }
  });
</script>

<div class="information">
  <h2 class="title">Dashboard :: My information</h2>
  <p class="meta"><span class="date">My Companies</span></p>
  <div style="clear: both;">&nbsp;</div>
  <div class="entry">
    <table id="companies_grid"></table>
    <div id="companies_pager"></div> 
    <%#p class="links"><%= link_to 'Add another company', new_company_path ></p%>
  </div>
  <br/>
  <p class="meta"><span class="date">My Projects</span></p>
  <div style="clear: both;">&nbsp;</div>
  <div class="entry">
    <table id="projects_grid"></table>
    <%#p class="links"><%= link_to 'Create another Project', new_project_path ></p%>
  </div>
  <br/>
  <p class="meta"><span class="date">My Timesheets</span></p>
  <div style="clear: both;">&nbsp;</div>
  <div class="entry">
    <table id="timecards_grid"></table>
  </div>
</div>
