<%= content_for :head do%>
  <%= javascript_include_tag 'i18n/grid.locale-en.js','jquery.jqGrid.min.js', 'jquery-ui-1.8.6.custom.min.js', 'jquery.timepicker.js' %>
  <%= stylesheet_link_tag "jquery-ui-1.8.5.custom.css", "ui.jqgrid.css" %>  
<script type="text/javascript">
  
  var edit_url = "<%=create_hours(@timecard.id)%>";
  var hours_grid = ""; 
  $(document).ready(function(){
    var lastsel2;
    hours_grid = jQuery("#hours_grid").jqGrid({
        colNames: ["id", "Initial Time","End Time","Date","Description", "Total Hours"],
        datatype: "local",
        width: 935,
        shrinkToFit: false,
        pgtext: false,
        pgbuttons: false,
        pginput: false,
        colModel: [
          {name: 'id',index: 'id',width: 0,hidden: true,sortable: false, key: true}, 
          {name: 'initial_time',index: 'initial_time',align: 'center',width: 160,editable:true,resizable:false,editrules:{required:true,time:true},editoptions:{size:10},fixed: true,sortable: false},
          {name: 'end_time', index: 'end_time', align: 'center', width: 160, editable:true,resizable:false, editrules:{required:true,time:true,custom:true,custom_func:end_time_check},editoptions:{size:10}, fixed: true, sortable: false},
          {name: 'date', index: 'date',datefmt:'mm-dd-yyyy', align: 'center', editable:true, resizable:false, width: 170, sortable: false,editrules:{required:true,date:true}}, 
          {name: 'description',index: 'description',align: 'center',editable: true,resizable:false,edittype:"textarea", editrules:{required:true},editoptions:{rows:"3",cols:"25"},width: 200,fixed: true,sortable: false },
          {name: 'total_hours',index: 'total_hours',align: 'center',width: 160,editable:false,resizable:false,fixed: true,sortable: false}
        ],
        height: 'auto',
        emptyrecords:"No timesheets to display",
        viewrecords: true,
        loadtext:"Loading...",
        editurl: "/timecards/1/hours",
        onSelectRow: function(id){ 
          if(id && id!==lastsel2){ 
            jQuery('#hours_grid').jqGrid('restoreRow',lastsel2);
            jQuery('#hours_grid').jqGrid('editGridRow',id,
              {
                closeAfterEdit:true,
                afterShowForm:pickdates,
                afterSubmit:after_submit_handler
              }
            );
            lastsel2=id; 
          } 
        } 
    });
    $('#add_hours').click(function(){
      jQuery("#hours_grid").jqGrid('editGridRow', "new", 
        {
          closeAfterEdit:true,
          closeAfterAdd:true,
          afterShowForm:pickdates,
          afterSubmit:after_submit_handler
        }
      );
    });
    function pickdates(id){
      $("input[id=date]").attr('editable',false);
      $("input[id=date]").datepicker({dateFormat:"mm-dd-yy"});
    }
    
    function end_time_check(value, colname) {
      var initial_time = $("input[id=initial_time]").val();
      if (value <= initial_time){
         return [false,"End time should be greater than initial time"];
      }else{ 
         return [true,""];
      }
    }
    
    function after_submit_handler(response, postdata, formid){
      var message = "";
      var is_valid = false;
      var new_id = 0;
      try{
        if(response != null){
          response = jQuery.parseJSON(response.responseText);
          if(response.redirect == true || response.redirect == 'true'){
            window.location.replace(data.url);
          }else{
            is_valid = response.success;
            if(is_valid == true || is_valid == 'true'){
              hours_grid.trigger('reloadGrid');
            }else{
              message = response.message;
            }
          }
        }else{
          window.location.reload();
        }
      }catch (exc){
        message = "We had an unexpected error, please try again."
      }
      return [is_valid,message,new_id] 
    }
    
    var myHours = [ {"id":"1","date":"10-10-2010","description":"sample hour","initial_time":"20:00","end_time":"21:00","total_hours":"20"},{"id":"2","date":"10-10-2010","description":"sample hour 2","initial_time":"10:00","end_time":"15:00","total_hours":"25"}];
    for(var i=0;i<myHours.length;i++){
      jQuery("#hours_grid").addRowData(myHours[i].id,myHours[i]);
    }
  });
</script>
<%end%>
<div class="information">
  <h2 class="title">Show project</h2>
  <p class="meta"><span class="date"><%= notice %></span></p>
  <div style="clear: both;">&nbsp;</div>
  <div class="entry">
    <p>
      <b>Initial time:</b>
      <%= @timecard.initial_time %>
    </p>
    
    <p>
      <b>End time:</b>
      <%= @timecard.end_time %>
    </p>
    
    <p>
      <b>User:</b>
      <%= @timecard.user_id %>
    </p>
    
    <p>
      <b>Project:</b>
      <%= @timecard.project.name if(@timecard.project) %>
    </p>
    
    <p>
      <b>Timesheet History:</b>
      <%= @timecard.timecards_note_id %>
    </p>
    
    <p>
      <b>Last update by:</b>
      <%= "#{@timecard.last_updater.name} #{@timecard.last_updater.last_name}" if(@timecard.last_updater) %>
    </p>

    
    <table id="hours_grid"></table> 
    
    <p class="links"><span id="add_hours">Add additional Hours</span> | <%= link_to 'Back', timecards_path %></p>
  </div>
</div>
