<%= content_for :head do%>
  <script type="text/javascript">
    var edit_url = "<%=create_hours_url(@timecard.id)%>";
    var listing_grid = "<%=list_hours_url(@timecard.id)%>";
    var delete_url = "/timecards/<%=@timecard.id%>/hours/";
  </script>
  <%= javascript_include_tag 'i18n/grid.locale-en.js','jquery.jqGrid.min.js', 'jquery-ui-1.8.6.custom.min.js','hours_grid.js', 'jquery.fastconfirm.js' %>
  <%= stylesheet_link_tag "jquery-ui-1.8.5.custom.css", "ui.jqgrid.css", 'jquery.fastconfirm.css' %>  
<%end%>
<div class="information">
  <h2 class="title">Show project</h2>
  <p class="meta"><span class="date"><%= notice %></span></p>
  <div style="clear: both;">&nbsp;</div>
  <div class="entry">
    <p>
      <b>Initial time:</b>
      <%= @timecard.initial_time %>
    </p>
    
    <p>
      <b>End time:</b>
      <%= @timecard.end_time %>
    </p>
    
    <p>
      <b>User:</b>
      <%= @timecard.user_id %>
    </p>
    
    <p>
      <b>Project:</b>
      <%= @timecard.project.name if(@timecard.project) %>
    </p>
    
    <p>
      <b>Timesheet History:</b>
      <%= @timecard.timecards_note_id %>
    </p>
    
    <p>
      <b>Last update by:</b>
      <%= "#{@timecard.last_updater.name} #{@timecard.last_updater.last_name}" if(@timecard.last_updater) %>
    </p>

  </div>
  <p class="meta"><span class="date">Add the hours that you spend on this project from <%= @timecard.initial_time.strftime('%m/%d/%Y') %> to <%=@timecard.end_time.strftime('%m/%d/%Y')%></span></p>
  <div style="clear: both;">&nbsp;</div>
  <div class="entry">
    <table id="hours_grid"></table> 
    <p class="links"><span id="add_hours">Add additional Hours</span> | <%= link_to 'Back', timecards_path %></p>
  </div>
</div>
