<h1>Listing timecards</h1>

<table>
  <tr>
    <th>Initial time</th>
    <th>End time</th>
    <th>User</th>
    <th>Project</th>
    <th>Timesheets note</th>
    <th>Last update by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @timecards.each do |timecard| %>
  <tr>
    <td><%= timecard.initial_time %></td>
    <td><%= timecard.end_time %></td>
    <td><%= timecard.user_id %></td>
    <td><%= timecard.project_id %></td>
    <td><%= timecard.timesheets_note_id %></td>
    <td><%= timecard.last_update_by %></td>
    <td><%= link_to 'Show', timecard %></td>
    <td><%= link_to 'Edit', edit_timecard_path(timecard) %></td>
    <td><%= link_to 'Destroy', timecard, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Timecard', new_timecard_path %>
