<p id="notice"><%= notice %></p>

<p>
  <b>Initial time:</b>
  <%= @timecard.initial_time %>
</p>

<p>
  <b>End time:</b>
  <%= @timecard.end_time %>
</p>

<p>
  <b>User:</b>
  <%= @timecard.user_id %>
</p>

<p>
  <b>Project:</b>
  <%= @timecard.project_id %>
</p>

<p>
  <b>Timesheets note:</b>
  <%= @timecard.timesheets_note_id %>
</p>

<p>
  <b>Last update by:</b>
  <%= @timecard.last_update_by %>
</p>


<%= link_to 'Edit', edit_timecard_path(@timecard) %> |
<%= link_to 'Back', timecards_path %>
