<div class="information">
  <h2 class="title">Listing employees</h2>
  <p class="meta"><span class="date">Employees from "<%=@company.name if(@company)%>"</span></p>
  <div style="clear: both;">&nbsp;</div>
  <div class="entry">
    <table class="list">
      <tr>
        <th>Login</th>
        <th>Name</th>
        <th>Last name</th>
        <th>Email</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      
      
    <% @users.each do |user| %>
      <tr>
        <td><%= user.login %></td>
        <td><%= user.name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', company_user_path(@company.id,user.id) %></td>
        <td><%= link_to 'Edit', edit_company_user_path(@company.id,user.id) %></td>
        <td><%= link_to 'Destroy', company_user_path(@company.id,user.id), :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
    </table>
    
    <p class="links"><%= link_to 'Add another employee', new_company_user_path %></p>
  </div>
</div>