<div class="information">
  <h2 class="title">Show Employee</h2>
  <p class="meta"><span class="date"><%= notice %></span></p>
  <div style="clear: both;">&nbsp;</div>
  <div class="entry">
      <p>
        <b>Login:</b>
        <%= @user.login %>
      </p>
      
      <p>
        <b>Name:</b>
        <%= @user.name %>
      </p>
      
      <p>
        <b>Last name:</b>
        <%= @user.last_name %>
      </p>
      
      <p>
        <b>Email:</b>
        <%= @user.email %>
      </p>
      
      <p>
        <b>Last updated by:</b>
        <%= @user.last_updated_by %>
      </p>


    <p class="links"><%= link_to 'Edit', edit_user_path(@user) %> | <%= link_to 'Back', users_path %></p>
  </div>
</div>
