<%= form_for([:company, @project]) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @project.errors.each do |attr, msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :user_id, "Project Manager" %><br />
    <%= f.select :user_id, @managers %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
