<div class="information">
  <h2 class="title">Listing projects</h2>
  <p class="meta"><span class="date">Proyects from "Company 1"</span></p>
  <div style="clear: both;">&nbsp;</div>
  <div class="entry">
    <table class="list">
      <tr>
        <th>Name</th>
        <th>Company</th>
        <th>User</th>
        <th>Last update by</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.company_id %></td>
        <td><%= project.user_id %></td>
        <td><%= project.last_update_by %></td>
        <td><%= link_to 'Show', company_project %></td>
        <td><%= link_to 'Edit', edit_company_project_path(project) %></td>
        <td><%= link_to 'Destroy', company_project, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>

    </table>
    
    <p class="links"><%= link_to 'New Project', new_company_project_path %></p>
  </div>
</div>
