<div class="information">
  <h2 class="title">Show project</h2>
  <p class="meta"><span class="date"><%= notice %></span></p>
  <div style="clear: both;">&nbsp;</div>
  <div class="entry">
      <p>
        <b>Name:</b>
        <%= @project.name %>
      </p>
      
      <p>
        <b>Company:</b>
        <%= @project.company_id %>
      </p>
      
      <p>
        <b>Manager:</b>
        <%= "#{@project.manager.name} #{@project.manager.last_name}" if(@project.manager) %>
      </p>
      
      <p>
        <b>Last update by:</b>
        <%= "#{@project.last_updater.name} #{@project.last_updater.last_name}" if(@project.last_updater) %>
      </p>

    <p class="links"><%= link_to 'Edit', edit_company_project_path(@project) %> | <%= link_to 'Back', company_projects_path %></p>
  </div>
</div>
