<%= content_for :head do %>
<script>
	var timecards_url = "/my_timecards";
	var timecards_details = "/projects/<%=@project.id%>/timecards/";
</script>
<%= javascript_include_tag 'i18n/grid.locale-en.js','jquery.jqGrid.min.js','timecards_grid.js' %>
<%= stylesheet_link_tag "jquery-ui-1.8.5.custom.css","ui.jqgrid.css" %>
<script>
	$().ready(function(){
		var myTimecards = <%=raw @timecards%>;
    for(var i=0;i<myTimecards.length;i++){
		   myTimecards[i].details = "<a href='"+timecards_details+myTimecards[i].id+"'>Details</a>";
		   if(myTimecards[i].edit != 0 && myTimecards[i].edit != '0'){
         myTimecards[i].edit = "<a href='"+timecards_details+myTimecards[i].edit+"/edit'>Edit</a>";
       }
       jQuery("#timecards_grid").addRowData(myTimecards[i].id,myTimecards[i]);
    }
    <%if @manager%>
    var projectTimecards = <%=raw @project_timecards%>;
    for(var i=0;i<projectTimecards.length;i++){
       currentTimecard = projectTimecards[i]; 
       currentTimecard.details = "<a href='"+timecards_details+currentTimecard.id+"'>Details</a>";
       if(currentTimecard.edit != 0 && currentTimecard.edit != '0'){
         currentTimecard.edit = "<a href='"+timecards_details+currentTimecard.edit+"/edit'>Edit</a>";
       }
       jQuery("#project_timecards_grid").addRowData(currentTimecard.id,currentTimecard);
    }
    <%end%>
	});
</script>
<%end %>
<div class="information">
    <h2 class="title">Show project</h2>
    <p class="meta">
        <span class="date"><%= notice %></span>
    </p>
    <div style="clear: both;">
        &nbsp;
    </div>
    <div class="entry">
        <p>
            <b>Name:</b>
            <%= @project.name %>
        </p>
        <p>
            <b>Company:</b>
            <%= @project.company.name if(@project.company) %>
        </p>
        <p>
            <b>Manager:</b>
            <%= "#{@project.manager.name} #{@project.manager.last_name}" if(@project.manager) %>
        </p>
        <p>
            <b>Last update by:</b>
            <%= "#{@project.last_updater.name} #{@project.last_updater.last_name}" if(@project.last_updater) %>
        </p>
    </div>
    <p class="meta">
        <span class="date">My Timecards</span>
    </p>
    <div style="clear: both;">
        &nbsp;
    </div>
    <div class="entry">
        <table id="timecards_grid">
        </table>
        <p class="links">
            <%= link_to 'Add an additional timecard', timecards_path(@project.id),:method => :post %><%if !@manager || @employees_timecards_size < 1%> | <%= link_to 'Back', dashboard_path %><%end%>
        </p>
    </div>
    <%if @manager && @employees_timecards_size > 0%>
    <p class="meta">
        <span class="date">My employees' timecards</span>
    </p>
    <div style="clear: both;">
        &nbsp;
    </div>
    <div class="entry">
        <table id="project_timecards_grid">
        </table>
        <p class="links">
            <%= link_to 'Back', dashboard_path %>
        </p>
    </div>
    <% end %>
</div>
