<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @permission.name %>
</p>

<p>
  <b>Role:</b>
  <%= @permission.role_id %>
</p>


<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>
