<div class="information">
  <h2 class="title">Show Company</h2>
  <p class="meta"><span class="date"><%= notice %></span></p>
  <div style="clear: both;">&nbsp;</div>
  <div class="entry">
      <p id="notice"><%= notice %></p>
      <p>
        <b>Name:</b>
        <%= @company.name %>
      </p>
      
      <p>
        <b>Address:</b>
        <%= @company.address %>
      </p>
      
      <p>
        <b>Administrator:</b>
        <%= @company.manager.name + @company.manager.last_name if(@company.manager)%>
      </p>
      
      <p>
        <b>Description:</b>
        <%= @company.description %>
      </p>

    <p class="links">
      <%if(@can_edit_company)%><%= link_to 'Edit', edit_company_path(@company) %> | <%end%>
      <%if(@can_add_project)%><%= link_to 'Add project', new_company_project_path(@company) %> | <%end%>
      <%= link_to 'Back', dashboard_path %></p>
  </div>
</div>