<div class="information">
  <h2 class="title">Member Login</h2>
  <p class="meta"><span class="date"> <%=subtitle%></span></p>
  <div style="clear: both;">&nbsp;</div>
  <div class="entry">
    <% form_for @member_session, :url => login_create_path do |f| %>
      <% if @member_session.errors.any? %>
        <ul>
        <% @member_session.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      <% end %>
      <p>
        <%=f.label :login, "Email Address"%>
        <br/>
        <%= f.text_field :login %>
      </p>
      <p>
        <%=f.label :password, "Email Address"%>
        <br/>
        <%= f.password_field :password %>
      </p>
      <p>
        <%=f.label :remember_me, "Remember Me"%>
        <%=f.check_box :remember_me%>
      </p>
      <p>
        <%= f.submit 'Login' %>
      </p>
    <% end %>
    
    <p class="links">Don't have an account? <%= link_to "create", new_user_url%> one now.</p>
  </div>
</div>